* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Calibri, sans-serif;
}

img {
  filter: grayscale(100);
}

header,
nav,
main,
footer {
  padding: 10px;
}

button {
  margin: 2px 1px;
  padding: 0.33rem 1rem;

  font-size: 1.05rem;

  color: #2f4f4f;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;

  &:hover {
    background-color: lightgray;
  }
}

input {
  height: 2rem;
  padding: 10px;

  border: 1px solid lightgray;
}

.hidden {
  display: none !important;
}

/* # nav ---------------------------------------- */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  list-style: none;
}

/* # main ---------------------------------------- */

main section img {
  width: 100px;
}
.status-box {
  outline: 1px solid lightgray;
}
.status-box,
.disponivel,
.ocupado {
  width: 50px;
  height: 50px;
}
.disponivel {
  background: lightgreen;
}
.ocupado {
  background: lightcoral;
}

/* ## perfil ---------------------------------------- */

#perfil {
  padding: 1rem 10%;
}

/* ## projetos ---------------------------------------- */
#projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.projeto-imagem {
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    padding: 10px;
    object-fit: cover;
    transition: all 0.2s ease;
  }

  img:hover {
    transform: scale(1.5);
  }
}
.projeto-comentarios {
  padding-right: 10px;
}
.perfil-usuario {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100px;
  padding: 10px 20px;

  .bookmark-btn {
    margin-left: 33%;
  }
  img {
    padding: 10px;
  }
}
.comentarios {
  width: 100%;
  height: 70%;
}
.comentario {
  display: flex;

  border-bottom: 1px solid lightgray;

  img {
    width: 50px;
    height: 50px;
    margin: 15px;
  }
  p {
    margin: 15px;
    margin-left: 0;

    font-size: 0.8rem;
  }
}
.botoes {
  display: flex;
  justify-content: space-evenly;

  button {
    padding-bottom: 0.1rem;
  }
}
.adicionar-comentario {
  display: flex;
  justify-content: space-evenly;

  #add-comentario {
    width: 80%;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
  }

  button {
    padding-bottom: 0.1rem;
  }
}


/* # cadastro de empresa */

.class-empresa {
  input:valid {
    border: 1px solid green;
  }
  input:invalid {
    border: 1px solid red;
  }
}