@font-face {
  font-family: "Dyna Puff";
  src: url(DynaPuff.ttf);
}
@font-face {
  font-family: "Nunito Sans";
  src: url(NunitoSans.ttf);
}
@font-face {
  font-family: "EB Garamond";
  src: url(EBGaramond.ttf);
}

h1 {
  text-decoration: underline;
}
#paragraph1 {
  font-family: "Dyna Puff";
}
#paragraph2 {
  font-family: "EB Garamond";
}
#paragraph3 {
  font-family: "Nunito Sans";
}