* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #E2DCC8;
}
header, main {
  width: 992px;
  margin: auto;
}
header {
  background-color: black;
  height: 100%;
  nav {
    display: inline-block;
    margin-left: 1.5em;
    a {
      float: left;
      margin-bottom: -5px;
      padding: 1em 1em;
      font-size: 14pt;
      text-decoration: none;
      font-weight: bold;
      color: red;
      &:hover {
        background-color: white;
      }
    }
  }
  h1 {
    float: right;
    width: 2.5em;
    height: 2.5em;
    margin: 0.33em 1.5em;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    font-size: 1.25em;
    background-color: red;
    &:hover {
      background-color: white;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: red;
      }
    }
  }
}
main {
  margin-top: 3em;
  p {
    text-align: justify;
    margin-bottom: 1em ;
  }
}
